@import 'themes';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.empty-header{
  height: 64px;
}

.task-popup {
  border-radius: 2% !important;
  .mat-mdc-dialog-container {
    border-radius: 2% !important;
    .mdc-dialog__container{
      border-radius: 2% !important;
      .mat-mdc-dialog-surface{
        border-radius: 2% !important;
      }
    }
  }
}
