@use '@angular/material' as mat;
@include mat.core();

/*
  A default theme
*/

$default-theme-light: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);
//Apply default theme and Material Design
@include mat.all-component-themes($default-theme-light);

.default-theme-light {
  background-color: #ffffff;
  .themed-font-color {
    color: black
  }
  .common-task-tile {
    background-color: #3f51b5;
    color: white;
  }
  .common-task-tile:hover {
    background-color: #5665b9;
  }
}

/*
  Dark theme
*/

.default-theme-dark {
  .themed-font-color {
    color: white
  }
  background-color: #424242;
  $default-theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$blue-grey-palette, 700),
        accent: mat.define-palette(mat.$amber-palette, A200),
        warn: mat.define-palette(mat.$deep-orange-palette, 900),
      ),
    )
  );
  @include mat.all-component-colors($default-theme-dark);

  .common-task-tile {
    background-color: #455a64;
    color: white;
  }
  .common-task-tile:hover {
    background-color: #555f64;
  }
}