<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="login-title themed-font-color" *ngIf="!isCreatingUser">
      <h2>{{ 'Login' | translate }}</h2>
    </mat-card-title>
    <mat-card-title class="login-title themed-font-color" *ngIf="isCreatingUser">
      <h2>{{ 'User creation' | translate }}</h2>
    </mat-card-title>
    <mat-card-content *ngIf="!isCreatingUser">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="{{ 'Username' | translate }}" type="text" required autocomplete="username">
          <mat-error *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
            <span *ngIf="loginForm.controls['username']?.errors?.['required']">{{ 'Username is required.' | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="{{ 'Password' | translate }}" type="password" required autocomplete="current-password">
          <mat-error *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            <span *ngIf="loginForm.controls['password'].errors?.['required']">{{ 'Password is required.' | translate }}</span>
          </mat-error>
        </mat-form-field>
      
        <button mat-raised-button class="login-button" color="primary" type="submit" [disabled]="loginForm.invalid">{{ 'Login' | translate }}</button>
        <mat-error *ngIf="isloginError">
          <span>{{loginErrorMsg | translate }}</span>
        </mat-error>

        <button mat-button class="create-user-button" (click)="onCreateUser()">
          <div>{{ 'Create user' | translate }}</div>
        </button>
      </form>
    </mat-card-content>

    <mat-card-content *ngIf="isCreatingUser">
      <form [formGroup]="createUserForm" (ngSubmit)="onCreateUserSubmit()" class="login-form">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="{{ 'Username' | translate }}" type="text" required>
          <mat-error *ngIf="createUserForm.controls['username'].invalid && (createUserForm.controls['username'].dirty || createUserForm.controls['username'].touched)">
            <span *ngIf="createUserForm.controls['username']?.errors?.['required']">{{ 'Username is required.' | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="{{ 'Password' | translate }}" type="password" required>
          <mat-error *ngIf="createUserForm.controls['password'].invalid && (createUserForm.controls['password'].dirty || createUserForm.controls['password'].touched)">
            <span *ngIf="createUserForm.controls['password']?.errors?.['required']">{{ 'Password is required.' | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="confirmPassword" placeholder="{{ 'Confirm Password' | translate }}" type="password" required>
          <mat-error *ngIf="createUserForm.controls['confirmPassword'].invalid && (createUserForm.controls['confirmPassword'].dirty || createUserForm.controls['confirmPassword'].touched)">
            <span *ngIf="createUserForm.controls['confirmPassword']?.errors?.['required']">{{ 'Confirm Password is required.' | translate }}</span>
            <span *ngIf="createUserForm.controls['confirmPassword']?.errors?.['passwordMismatch']">{{ 'Passwords do not match.' | translate }}</span>
          </mat-error>
        </mat-form-field>
        
        <button mat-raised-button class="create-user-button login-button" color="primary" type="submit" [disabled]="createUserForm.invalid">{{ 'Create User' | translate }}</button>
        <button mat-raised-button class="cancel-button login-button" color="warn" type="button" (click)="onCancelCreateUser()">{{ 'Cancel' | translate }}</button>
        <mat-error *ngIf="isCreateUserError">
          <span>{{createUserErrorMsg | translate }}</span>
        </mat-error>
          
      </form>
    </mat-card-content>
    
  </mat-card>
</div>
