.tasks-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    .task-list{
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        height: 100%;
        align-items: center;
        overflow-y: auto;

        

        .undone-task-container{
            margin-top: 20px;
            width: inherit;
            display: inherit;
            justify-content: inherit;
            flex-direction: inherit;
            align-items: inherit;

            .undone-task-title{
                color: rgba(255, 255, 255, 0.651);
                text-decoration: line-through;
            }
        }


        .task-tile {
            max-width: 1000px;
            width: 90%;
            height: 51px;
            margin-bottom: 8px;

            mat-card-content {
                height: 51px;
                padding: 0 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .task-title{
                    margin-left: 5px;
                }
            }
            
        }
          
    }
}
