#GenericPopup {
  padding: 2em;
  margin: 0;
  .mat-mdc-dialog-title {
    padding: 0 !important;
    text-align: center;
    margin-bottom: 1.5em !important;
  }
  .mat-mdc-dialog-content {
    display: flex;
    flex-direction: column;
    #titleTextAreaPopup {
      font-weight: bolder;
      margin-bottom: 0.5em;
    }
    .htmlArea {
      border: 1px solid black;
      padding: 4px;
    }
  }
  .details-container {
    margin: 1em auto auto auto;
  }
}


.btn-actions-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.task-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  .task-subcontainer{
      display: flex;
      justify-content: center;
      height: 100%;

      .task-card{
          justify-content: flex-start;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          color: white; 
          min-height: 30vh;

          .return-button-container{
              position: absolute;
              left: -42px;
              top: 0px;
              border-radius: 10%;
              .return-button {
                  transform: scale(1);
              }
          }

          .task-title-container {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              .task-title{
                  margin-left: 15px;
              }

              .task-done-title{
                  text-decoration: line-through;
              }
          }

          .task-description-container {

              .task-description {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  margin-top: 40px;
                  height: 100%;
                  overflow-y: auto;
              }
          }
      }
  }

}