<section
  *ngIf="!data.taskDetail"
  id="GenericPopup"
  class="modal-control">
  <h3 *ngIf="data.title" mat-dialog-title>{{ data.title }}</h3>
  <div mat-dialog-content>
    <p style="text-align: center" *ngIf="data.description">{{data.description}}</p>
    <div class="htmlArea" *ngIf="data.hasHtmlArea && data.htmlAreaTitle" [innerHtml]="data.htmlAreaTitle"></div>
    <span *ngIf="data.hasTextArea && data.textAreaTitle" id="titleTextAreaPopup">{{data.textAreaTitle}} : </span>
    <textarea *ngIf="data.hasTextArea" name="text-area-advertise" cols="30" rows="10" readonly>{{ data.textAreaContent }}</textarea>
  </div>

  <div mat-dialog-actions>


    <div class="btn-actions-container">
      <button *ngIf="data.cancelAction.isActive" mat-raised-button [mat-dialog-close]="false" color="primary">
        {{data.cancelAction.action_label}}
      </button >
      <button *ngIf="data.validateAction.isActive" mat-raised-button [mat-dialog-close]="true" color="secondary">
        {{data.validateAction.action_label}}
      </button >
    </div>

    <div class="details-container">
      <button mat-button *ngIf="data.detailsLink" class="details-link" [mat-dialog-close]="'details'">details</button >
    </div>

  </div>
</section>

<div id="taskContainer" class="task-container background-primary" *ngIf="data.taskDetail && data.task && data.returnToTaskList && data.taskStateUpdated">
  <div id="taskSubContainer" class="task-subcontainer">
      <mat-card id="taskCard" class="task-card background-primary">
          <mat-card-content>
              <div class="task-title-container">
                  <app-round-checkbox [checked]="data.task.done" [data_id]=" data.task.id" class="task-checkbox" (onChange)="updateTaskState($event)"></app-round-checkbox>
                  <div class="task-title" [ngClass]="data.task.done ? 'task-done-title': ''">{{data.task.name}}</div>
              </div>
              <div class="task-description-container">
                  <div class="task-description">{{data.task.description}}</div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>
