#GenericPopup {
  padding: 2em;
  margin: 0;
  .mat-mdc-dialog-title {
    padding: 0 !important;
    text-align: center;
    margin-bottom: 1.5em !important;
  }
  .mat-mdc-dialog-content {
    display: flex;
    flex-direction: column;
    #titleTextAreaPopup {
      font-weight: bolder;
      margin-bottom: 0.5em;
    }
    .htmlArea {
      border: 1px solid black;
      padding: 4px;
    }
  }
  .details-container {
    margin: 1em auto auto auto;
  }
}

.about-wrapper {
  .logo-container {
    display: flex;
    justify-content: space-around;
    .img-about-logo {
      width: 207px;
      height: 100px;
    }
    .img-spaceops-logo {
      width: 180px;
      height: 100px;
    }
  }
  .body-about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-image: url("../../../../../assets/images/aboutBackground.jpg");
    background-size: 600px;
    background-repeat: no-repeat;
    .mat-mdc-dialog-title {
      text-align: center;
      color: white !important;
      margin-top: 10px !important;
      margin-bottom: 2em !important;
      font-weight: 500 !important;
      font-size: 18px !important;
      line-height: 1.1 !important;
    }
    .infos-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin: auto;
      color: white;
      border: 1px solid;
      padding: 1em;
      div {
        width: 90%;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
          border-bottom: 1px solid;
        }
      }
    }
  }
}

.btn-actions-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  &.about-btn {
    margin: 2em 0 2em 0;
  }
}
