<!-- Loading spinner -->
<div *ngIf="loading" class="loading-container flex-content-center">
    <mat-progress-spinner
    color="primary"
    mode="indeterminate">
    </mat-progress-spinner>
</div>
<div class="bg">
    <mat-toolbar color="primary" class="toolbar">
        <div class="left">
            <div *ngFor="let language of languages">
                <button (click)="changeLanguage(language)" mat-icon-button>
                    <img [src]="language.flag" alt="{{ language.name }} flag" width="20" height="20" [class.black-and-white]="language.code !== selectedLanguage"/>
                </button>
            </div>
        </div>
        <div class="center">
            <span>{{ 'ToDo' | translate}}</span>
        </div>
        <div class="right">
            <button mat-icon-button aria-label="toggle theme" (click)="toggleTheme()">
                <mat-icon *ngIf="isDarkTheme">brightness_7</mat-icon>
                <mat-icon *ngIf="!isDarkTheme">brightness_4</mat-icon>
            </button>
            <button (click)="logout()" *ngIf="isLogged" mat-icon-button aria-label="exit_to_app icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>